.convertor-wraper{
    border: 2px solid #212529; 
    border-radius: 5px;
    padding-bottom: 30px;
}
label{
    color:white;
    margin: 12px 0px 1px 0px;
}
.amount-input-fild{
    border-radius: 3px;
    border: 1px solid #28a745;
    padding-left: 13px;
    line-height: 29px;
}
.convert-btn{
    margin-top: 35px;
    border-radius: 3px;
    line-height: 29px;
}
.show-conversion-value{
    margin-top: 20px;
    width: 99%;
    height: 36px;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    color: #28a745;
}