label{
    color:white;
    margin: 12px 0px 1px 0px;
}
.show-value-button{
    height: 38px;
    margin-top: 36px;
}
.show-value-button:focus{
    box-shadow: none;
    outline: none;
    margin-bottom: 20px;
}
