.exchange-rate-wraper{
   margin: 30px 5px;;

}
.tablecaption{
    color:white;
    margin-bottom: 6px; 
}
.text{
    color:white;
}
.shoow-curency-value-btn{
    display: block;
    margin:15px auto;
}
.show-curency-rate-on-date{
    width: 99%;
    height: 36px;
    background-color: white;
    border-radius: 5px;
}