<div class="colon-wrapper">
  <p class="table-caption">Random currency rates in relation to the EUR</p>
  <table class="table table-bordered table-dark">
    <thead>
      <tr class="table-head-row">
        <th scope="col">#</th>
        <th scope="col">CURRENCY SYMBOL</th>
        <th scope="col">CURRENCY NAME</th>
        <th scope="col">VALUE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let currency of random10Currencies let i = index">
        <td class="first-colon-of-table"><b>{{i+1}}</b></td>
        <td><b>{{currency.nameShort}}</b></td>
        <td><b>{{currency.nameLong}}</b></td>
        <td><b>{{currency.value}}</b></td>
      </tr>
    </tbody>
  </table>
  <p class="text"><small>* refresh page for new random currencies</small></p>
</div>

