.colon-wrapper{
    margin: 5px 30px 30px;
    padding: 10px 10px;
    position: relative;
}
.table-head-row, .first-colon-of-table{
    background-color:#28a745 ;
    font-weight: 900;
    color:white;
}
.table-caption{
    color:white;
    margin-bottom: 15px; 
    padding-top:20px;
}
.text{
    color:white;
}
