
  <h3 class="headline">
    Welcome to {{ title }}!
  </h3>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand">
      <img src="assets/img/logo.png" alt="logo" style="width:80px;">
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
       <b><a class="router-link nav-link" routerLink="/exchangeRateView" 
        routerLinkActive="active-link">CURRENCY RATES</a></b>
      </li>
      <li class="nav-item">
        <b><a class="router-link nav-link" routerLink="/currencyRateOnDate"
        [routerLinkActive]="['active-link']">HISTORICAL CURRENCY RATES</a></b>
      </li>
      <li class="nav-item">
        <b><a class="router-link nav-link" routerLink="/currencyConverter"
        [routerLinkActive]="['active-link']">CURRENCY CONVERTER</a></b>
      </li>
      <li class="nav-item">
        <b><a class="router-link nav-link" routerLink="/historicalConvertor"
        [routerLinkActive]="['active-link']">HISTORICAL CURRENCY CONVERTER</a></b>
      </li>
    </ul>
  </nav>


  <router-outlet></router-outlet>
  
  <div class="stop-spinner" id="spinner" #spinner>
    <div class="loader"></div>
    <p>Please wait</p>
  </div>