/* You can add global styles to this file, and also import other style files */
body{
    background-color: #343a40;  
    font-family: Arial, Helvetica, sans-serif;
}
/*changing default date-picker style*/
.bs-datepicker-container {
    background-color: #212529;
}
.bs-datepicker-body table td, .bs-datepicker-body table th {
    color: #ecf1f5;
}
.date-picker-value-show{
    margin-top: 20px;
    box-shadow: none;
}
.date-picker-value-show, .date-picker-value-show:focus{
    background-color: #343a40;  
    border: 2px solid #28a745;
    color: #28a745;
    font-weight: bold;
}

