/* You can add global styles to this file, and also import other style files */
:root {
    --main-color: #28a745;
}
body{
    background-color: #343a40;  
    font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    cursor: pointer; 
}
button:disabled{
    cursor: not-allowed; 
}
/*----------CHANGING DEFAULT DATEPICKER STYLE-------------*/
.bs-datepicker-container {
    background-color: #212529;
}
.bs-datepicker-body table td, .bs-datepicker-body table th {
    color: #ecf1f5;
}
.date-picker-value-show{
    margin-top: 20px;
    box-shadow: none;
}
.date-picker-value-show, .date-picker-value-show:focus{
    background-color: #343a40;  
    border: 2px solid var(--main-color);
    color: var(--main-color);
    font-weight: bold;
}
/*------------------- COMMON COMPONENTS STYLE---------------------*/
.context-wrapper{
    border: 2px solid #212529; 
    border-radius: 3px;
    margin: 10px 40px 20px 40px; 
    padding: 20px 15px 80px 15px;
 }
 .text{
    color:white;
    text-align: center;
 }
 .select-currency{
    margin-bottom: 20px;
    height: 38px;
    border: 2px solid var(--main-color);
 }
 .amount-input-field{
    border-radius: 3px;
    border: 1px solid var(--main-color);
    padding-left: 13px;
    line-height: 29px;
    margin-bottom: 20px;
    height: 38px;
}
.show-value-btn{
    display: block;
    margin:30px auto;
}
.show-result{
    width: 99%;
    height: 36px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    color:var(--main-color);
}
